{% extends "base_generic.html" %}

{% block content %}
<div class="container" style="margin:2%">
     <div style="margin-top:5%">
            <h2>Submit Sheets </h2>      
            
            
            
            <form action="" method="post">
                {% csrf_token %}
                    <label for="from">From</label> <input type="text" id="from" name="start_date">
                    <label for="to">to</label> <input type="text" id="to" name="end_date">                   
                    <input type="hidden" name="form_no" value="one">
                    <button  class="btn btn-info " type="submit"> Load  <i class="fas fa-search"> </i></button>   
            </form>

<form action="" method="post">
{% csrf_token %}
{{ formset.management_form }}
    <table style="width:100%;" class="table borderless">  
        <tr>
            <br><br>
                <thead><th></th><th>Date</th><th>Hours Worked</th><th>Task Description</th></thead>
                </tr>
                {% for form in formset %}
                    <tr>   
                    {% for field in form %}
                        <td>{{field}}</td>
                    {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            <br>
            <input type="hidden" name="form_no" value="two">
            <input  type="submit" value="Submit order" class="btn btn-outline-primary">    
            </form>
     </div>
</div>

<script>
        $(function() {
          $( ".datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "1900:2012",
            // You can put more options here.
      
          });
        });
        </script>

{% endblock %}









