
{% extends "base_generic.html" %}

{% block content %}

<h2>Delete Time Entry for {{id.ts_date|date:"SHORT_DATE_FORMAT"}}</h2>

<div class="row" style="margin:2%">
    <form action="." method="POST">
            {% csrf_token %}
       

        <div class="alert alert-dark">
                Are you Sure you want to delete Time Entry for <strong>{{id.ts_date|date:"SHORT_DATE_FORMAT"}}! </strong>  ?                </div>
                  <br>
    <div  class="">
            <button type="submit" value="Delete" class="btn btn-danger">Yes</button> 
            <a href="{% url 'timeEntryList' %}" >
             <button type="button" value="canc" class="btn" >Cancel</button><br>
            </a>
        </div>
</div>


          <br>





{{item.ts_date|date:"SHORT_DATE_FORMAT"}}</td><td>{{item.ts_effort}}</td><td>{{item.ts_desc}}</td>

{% endblock %}



<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="#">Navbar</a> <div class="collapse navbar-collapse" > <div class="navbar-nav"><a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a><a class="nav-item nav-link " href="/employee/">Employee <span class="sr-only">(current)</span></a> <a class="nav-item nav-link "href="/timesheets/">Sheets <span class="sr-only">(current)</span></a></div></div></nav>
        <div class="row" style="margin:2%">
<h2>Delete Time Entry for {{id.ts_date|date:"SHORT_DATE_FORMAT"}}</h2>
</div>
<div class="row" style="margin:2%">
    <form action="." method="POST">
            {% csrf_token %}
        <span>Are you Sure you want to delete Time Entry ?</span> <br>
        <button type="submit" value="Delete" class="btn btn-danger">Yes</button>
        <a href="/timesheets/view" ><button type="button" class="btn" >Cancel</button></a>
    </form>

</div>
</body>
</html>