{% if time_records %}
<table>
    <tr>
        <th>Emp ID</th>
        <th> Date</th>
        <th>Efforts </th>
        <th>Description</th>
        </tr>
    <ul>
    {% for time_record in time_records %}
        <tr>
        <!-- <td><a href="{% url 'timeEntryList' %}">{{ time_record.id }}</a></td> -->
        <td>{{ time_record.emp_id }}</td>
        <td>{{ time_record.ts_date|date:"SHORT_DATE_FORMAT" }}</td>
        <td>{{ time_record.ts_effort }}</td>
        <td>{{ time_record.ts_desc }}</td>
        </tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No Time Entries are available.</p>
</table>
{% endif %}
