








{% extends "base_generic.html" %}

{% block content %}
<div class="container" style="margin:2%">
 
    <div style="margin-top:5%">
          
        <h2>Time Records</h2>
    
        

        <form action="" method="post">
            {% csrf_token %}           
            <div>
              
                
                <div class="form-group row">
                    
                    <label for="example-week-input" class="col-2 col-form-label">Week</label>
                    <div class="col-7">
                            
                      <input class="form-control " name="week-selected" type="week" value="2018-W{{ c_week|add:-1 }}" id="example-week-input">
                    </div>
                    <div class="col-3">
                            <input type="hidden" name="week" value="selected">
                        <button class="btn btn-info" type="submit"> Load  <i class="fas fa-search"> </i></button>   
                    </div>
                </div>            
        </form>  

        <br>
        {% if current_records %}
        
        <table style="width:100%;" class="table ">
            <thead>
            <tr><th >#</th><th >Date</th><th >Hours </th><th > Description</th><th > Status</th> <th > Action</th> </tr>
                </thead>
            {% for record in current_records %}
         
         <tr>
             <td>00.</td>
             <td>{{ record.ts_date|date:"SHORT_DATE_FORMAT"}}</td>
             <td>{{ record.ts_effort}}</td>
             <td>{{ record.ts_desc}}</td>
             <td> <span class="badge btn-info">{{ record.get_ts_status_display}}</span></td>
             <td ><a href="../{{record.id}}/edit"> <button class="btn btn-outline-primary">Edit</button></a> -
                  <a href="../{{record.id}}/delete/"><button class="btn btn-outline-danger">Delete</button></a>
            </td>
         </tr> 
        {% endfor %}
         </table>
    {% else %}

     <table style="width:100%;" class="table table-bordered">
            <tr><th >Date</th><th >Hours </th><th > Description</th><th > Status</th> <th > Action</th> </tr>
              <tr></tr>  
          </table>
        {% endif %} 
        
        


        <div>
            <br>


            <div class="container">
                    <div class="row">

                            <div class="col-sm">
                                    <form action="" method="post">
                                            {% csrf_token %}           
                                                
                                            <input type="hidden" name="week" value="last-week">  
                                            {% if   x_week and y_week  %}
                                            <input type="hidden" name="week_no" value="{{ c_week }}">                    
                                            <button class="btn btn-outline-info" type="submit"> <i class="far fa-arrow-alt-circle-left"></i>

                                                Previous week</button>   
                                            {% endif %}                    
                                            {% if  not y_week and  x_week  %}
                                            
                                            <input type="hidden" name="week" value="next-week">
                                            <input type="hidden" name="week_no" value="{{ c_week|add:-1 }}">    
                                            <button class="btn btn-outline-info" type="submit">
                                                    Next Week <i class="far fa-arrow-alt-circle-right"></i>

                                                    </button>                    
                            
                                            {% endif %}
                                        </form>                                  </div>
                                  <div class="col-sm">
                                  </div>


                      <div class="col-sm ">
                            <form action="" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="week" value="next-week">
                                    {% if  not x_week and  y_week  %}
                                    <p>No Further Records Available</p>
                                    <input type="hidden" name="week" value="last-week">
                                    <input type="hidden" name="week_no" value="{{ c_week|add:1 }}">    
                                    <button class="btn btn-outline-info " type="submit"> <i class="far fa-arrow-alt-circle-left"></i>

                                         Previous week</button>
                                    
                                    {% endif %}                    
                    
                                    {% if   y_week and x_week     %}
                                    <input type="hidden" name="week_no" value="{{ c_week }}">                    
                                    <button type="submit" class="btn btn-outline-info">
                                            Next Week <i class="far fa-arrow-alt-circle-right"></i>


                                        </button>           
                                    {% endif %}                    
                                </form>
                      </div>
                    
                    </div>
                  </div>
                
            <!-- this is the form for next week  -->
            

        <br>
         
        <!-- this is the week for Last week -->
              
            
         
        </div>
    </div>  
</div>  

{% endblock %}





















{% load static %}
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light"><a class="navbar-brand" href="#">Navbar</a> <div class="collapse navbar-collapse" > <div class="navbar-nav"><a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a><a class="nav-item nav-link " href="/employee/">Employee <span class="sr-only">(current)</span></a> <a class="nav-item nav-link "href="/timesheets/">Sheets <span class="sr-only">(current)</span></a></div></div></nav>

  <div class="container" style="margin:2%">
    
<h2>Time Records for the Current Month</h2>

<a href="/timesheets/export/" >
    <button type="button" class="btn btn-outline-primary">
    <img alt="Export to Excel" src="{% static "timesheets/exportexcel.png" %}" >
    </button>
</a>
<p></p>
<!-- <table style="width:100%;" class="table table-bordered">
                <tr> <th > Date</th> <th> Efforts</th> <th> Description</th> <th> Action</th> </tr>

                {% for time_record in time_records %} 
                <tr>
                    <td >{{ time_record.ts_date|date:"SHORT_DATE_FORMAT" }}</td>
                    <td>{{ time_record.ts_effort }}</td>
                    <td>{{ time_record.ts_desc }}</td>
                    <td ><a href="../{{time_record.id}}/edit">Edit</a> <a href="../{{time_record.id}}/delete/">Delete</a></td>                  
                </tr> 
                {% endfor  %}
              </table>   

            </div>  
        -->
            
</body>
</html>



