<!DOCTYPE html>
<html lang="en">
<head>  
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code .jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdn .datatables.net/1.10.19/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  {% comment %} <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> {% endcomment %}
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- Custom CSS -->
  <!-- Add additional CSS in static file -->
  {% load mathfilters %}
  {% load static %}
  <link rel="icon" href="{% static 'images/snp_192x192.png' %}" sizes="192x192" />

  <link href="{% static 'css/lib/sweetalert/sweetalert.css'%}" rel="stylesheet"> 
   <!-- <link rel="stylesheet" href="{% static 'css/argon.css' %}">
  <link rel="stylesheet" href="{% static 'css/argon.min.css' %}"> -->
  <link rel="stylesheet" href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/owl.carousel.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/helper.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/spinners.css' %}">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>
  <style>
        [data-toggle="collapse"] .fa:before {  
            content: "\f139";
          }
          
          [data-toggle="collapse"].collapsed .fa:before {
            content: "\f13a";
          }
        .rd-grd{ background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important; }   
  </style> 
</head>

<body class="fix-header">
    <div class="preloader" style="display: none;">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"></circle> </svg>
    </div>
    <div id="main-wrapper">
        <div class="header">
                {% include 'navbar.html' %}
        </div> 
        {% include 'sidebar.html' %}
        
        <div class="page-wrapper">
            <!-- Bread crumb -->
            {% block pgt %}{% endblock %}
  
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                        {% block formrd %}{% endblock %}
                     <div class="col-12">
                            
                            {% block dash_1 %}{% endblock %}
                        <div class="card">
                            <div class="card-body"> 

                                    {% block content %}{% endblock %}
                                    {% block pagination %}
                                      {% if is_paginated %}
                                      <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                              <li class="page-item ">
                                                    {% if page_obj.has_previous %}
                                                <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="page-link" href="#" tabindex="-1">Previous</a>
                                                {% endif %}
                                              </li>
                                              {% for pg in page_obj.paginator.page_range %}
                                              {% if page_obj.number == pg %}
                                                 <li class="page-item active"><a class="page-link active" href="?page={{ pg }}">{{ pg }}</a></li>
                                             {% else %}
                                                <li class="page-item "><a class="page-link" href="?page={{ pg }}">{{ pg }}</a></li>
                                                
                                                {% endif %}
                                              {% endfor %}
                                              

                                              {% if page_obj.has_next %}
                                                <li class="page-item">
                                                   <a class="page-link" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                                </li>
                                                {% else %}
                                                <li class="page-item disabled">
                                                    <a class="page-link">next</a>
                                                </li> 
                                            {% endif %}
                                            </ul>
                                        </nav>

                                          <div class="pagination">
                                              <span class="page-links">
                                                  {% if page_obj.has_previous %}
                                                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                                                  {% endif %}
                                                  <span class="page-current">
                                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                  </span>
                                                  {% if page_obj.has_next %}
                                                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                                                  {% endif %}
                                              </span>
                                          </div>
                                      {% endif %}
                                    {% endblock %}  



                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
   <script>
        $( function() {
          var dateFormat = "mm/dd/yy",
            from = $( "#from" )
              .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
              })
              .on( "change", function() {
                to.datepicker( "option", "minDate", getDate( this ) );
              }),
            to = $( "#to" ).datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1
            })
            .on( "change", function() {
              from.datepicker( "option", "maxDate", getDate( this ) );
            });
            
       
          function getDate( element ) {
            var date;
            try {
              date = $.datepicker.parseDate( dateFormat, element.value );
            } catch( error ) {
              date = null;
            }
       
            return date;
          }
          $("#dty").hide();
          $("#dtc").change(function(){
              if($(this).prop("checked")){
                  $('#dty').show();
                  $("#dtx").hide();
              } else {
                  $("#dty").hide();
                  $('#dtx').show();
              }
          });

          $('input[type="checkbox"]').change(function() {

            if ($('.rd-dt').attr('required')) {
                $('.rd-dt').removeAttr('required');
                $('.rd-dt1').attr('required','required');
            } 
    
            else {
                $('.rd-dt').attr('required','required');
            }
    
        });




        } );

 // $("#dty").hide();

//  $(document).ready(function(){
//      $(document).on('click','#dtc input:checkbox',function(){
//             $(this).closest('#dtc').next('#dty')[this.checked? 'show': 'hide'] ()
//         });
//  });
        
  

        </script>

        <script>
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });
            </script>
        <script type="text/javascript">

          $(document).ready( function () {
            $('.datatable').DataTable();
          } );
        </script>
      
        <script type="text/javascript">
            google.charts.load("current", {packages:["corechart"]});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
              var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                ['Approved',     11],
                ['Rejected',      2],
               
                ['Pending',    7]
              ]);
      
              var options = {
                title: 'LMS',
                pieHole: 0.4,
              };
      
              var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
              chart.draw(data, options);
            }
          </script>
            {% load static %}
            <script src="{% static 'js/lib/sweetalert/sweetalert.init.js' %}"></script>
            <script src="{% static 'js/sidebarmenu.js' %}"></script>
            <script src="{% static 'js/jquery.slimscroll.js' %}"></script>

                        <script src="{% static 'js/custom.min.js' %}"></script>


        </body>>
        </html>