{% extends "base_generic.html" %}

{% block sidebar %}

 
  {% for time_menu in time_menus %}
  <p>{{ time_menu }}</p>
  <li class="nav-item">
        <p>{{ time_menu.get_absolute_url }}</p>
    <a class="nav-link"  href="{{ time_menu.get_absolute_url }}">{{ time_menu.menu_name }} <span class="sr-only">(current)</span></a>
  </li>
  {% endfor %}


  

{% endblock %}
{% block content %}
<p>
</p>

{% for time_entry in time_entries %}
<li class="nav-item">
  <a class="nav-link"  href="{{ time_entry.get_absolute_url }}">{{ time_entry.ts_desc }} <span class="sr-only">(current)</span></a>
</li>


{% endfor %}

{% endblock %}