{% load static %}

<nav class="navbar top-navbar navbar-expand-md navbar-light ">
    <a class="navbar-brand" href="#">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'dashboard' %}"  id="logox">
                <b><img src="{% static 'images/logo2.png' %}" alt="homepage" class="dark-logo" height="48" width="132" /></b>
                    <!--End Logo icon --><!-- Logo text <span><img src="{% static 'images/snp_lga.png' %}" alt="homepage" class="dark-logo" height="42" width="72"/></span>-->
            </a>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard' %}">Home <span class="sr-only">(current)</span></a>
            </li>
                           
            <li class="nav-item">
                <a class="nav-link {% if user.is_anonymous %} disabled  {% endif %}" href="{% url 'employee' %}">Member</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if user.is_anonymous %} disabled  {% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sheets
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'timeEntryCreate' %}" >Create Log</a>
                    <a class="dropdown-item" href="{% url 'timeEntryList' %}">View Log</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle {% if user.is_anonymous %} disabled  {% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lms
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target=".bd-example-modal-lg">Create</a>
                    <a class="dropdown-item" href="{% url 'lmsList' %}">View</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse">
        <ul class="navbar-nav mr-auto mt-md-0">
            
        </ul>
        <ul class="navbar-nav my-lg-0">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="heartbit"></span>   <i class="ti-user"></i> {{ user.get_username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                        <ul class="dropdown-user">
                            <li><a href="{% url 'profile' %}"><i class="ti-user"></i> Profile</a></li>
                            <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                            <li><a href="{% url 'logout' %}?next={{request.path}}"><i class="fa fa-power-off"></i> Logout</a></li>
                        </ul>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'login' %}?next={{request.path}}">
                            <i class="fa fa-sign-in"></i> Login
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span></div>
                    </a>
                </li>
            {% endif %} 
        </ul>
    </div>
</nav>