{% extends "base_generic.html" %}

{% block title %}
<title>Details</title>
{% endblock %}



{% block dash_1 %}

<div role="toolbar" class=" mt-4 mb-4" style="border: #f53c5517 dashed 1px">
        <div class="btn-group">
        <a href="{% url 'InboxList' %}">
                <button class="btn btn-light waves-effect btn rd-grd-blue btn text-white rd-grd ripple btn btn-dark btn-outline-danger btn-rounded" type="button"><i class="mdi  mdi-arrow-left-bold-circle-outline font-18 vertical-middle"></i> Back </button>
        </a>
            <button class="btn btn-light waves-effect" type="button"><i class="mdi mdi-archive font-18 vertical-middle"></i></button>
            <button class="btn btn-light waves-effect" type="button"><i class="mdi mdi-alert-octagon font-18 vertical-middle"></i></button>
            <button class="btn btn-light waves-effect" type="button"><i class="mdi mdi-delete-variant font-18 vertical-middle"></i></button>
        </div>
        <div class="btn-group">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-light dropdown-toggle waves-effect" type="button">
                <i class="mdi mdi-folder font-18 vertical-middle"></i>
                <b class="caret m-l-5"></b>
                                            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">Move to</span>
                <a href="javascript: void(0);" class="dropdown-item">Social</a>
                <a href="javascript: void(0);" class="dropdown-item">Promotions</a>
                <a href="javascript: void(0);" class="dropdown-item">Updates</a>
                <a href="javascript: void(0);" class="dropdown-item">Forums</a>
            </div>
        </div>
        <div class="btn-group">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-light dropdown-toggle waves-effect" type="button">
                                                <i class="mdi mdi-label font-18 vertical-middle"></i>
                                                <b class="caret m-l-5"></b>
                                            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">Label as:</span>
                <a href="javascript: void(0);" class="dropdown-item">Updates</a>
                <a href="javascript: void(0);" class="dropdown-item">Social</a>
                <a href="javascript: void(0);" class="dropdown-item">Promotions</a>
                <a href="javascript: void(0);" class="dropdown-item">Forums</a>
            </div>
        </div>

        <div class="btn-group">
            <button aria-expanded="false" data-toggle="dropdown" class="btn btn-light dropdown-toggle waves-effect" type="button">
                                                More
                                                <span class="caret m-l-5"></span>
                                            </button>
            <div class="dropdown-menu">
                <span class="dropdown-header">More Option :</span>
                <a href="javascript: void(0);" class="dropdown-item">Mark as Unread</a>
                <a href="javascript: void(0);" class="dropdown-item">Add to Tasks</a>
                <a href="javascript: void(0);" class="dropdown-item">Add Star</a>
                <a href="javascript: void(0);" class="dropdown-item">Mute</a>
            </div>
        </div>

        <!-- <button class="btn-hover color-10">BUTTON</button> -->
    </div>


    {% endblock %}
{% block content %}

<h2 class="ml-4"> {{ object.msg_id.subject}}</h2>
<div  class="row">
        <div class="col-1 ">
                        <img src="/static/images/dp/3.PNG" alt="admin" width="35px" height="35px"  class="profile-pic">

        </div>
        <div class="col-8 ">
                        <span>Rajdeep Singh</span> <br>
                        <span class="small"> Sent: Thursday, October 4, 2018 12:26 PM </span> 
                        <div class="smallX">
                                <span><b>To: </b> <small>Prakash Paneri; Jan Macapagal; Michael Kendrick; Anish Gautam; Rajdeep Parihar; Chocks Subramanian;</small> </span>
                                <br><span><b>Cc: </b><small>Jan Macapagal;Rajdeep Parihar; Chocks Subramanian; </small></span>
                        </div>

        </div>
        <div class="col-3">
                        <button class="btn btn-light waves-effect" type="button"><i class="mdi  mdi-reply font-18 vertical-middle"></i></button>
                        <button class="btn btn-light waves-effect" type="button"><i class="mdi  mdi-reply-all font-18 vertical-middle"></i></button>

                        <button class="btn btn-light waves-effect" type="button"><i class="mdi mdi-forward font-18 vertical-middle"></i></button>
        
        </div>



<div class="col-1">

</div>
<div class="col-10 ml-1 mt-4">
                <p>
                                {{ object.msg_body |safe }} <br> and 
                            
                            </p> 

   
<hr>               

</div>

<div class="container ml-4  " >

       
        
        </div></div>
        {% endblock %}
