<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block title %}<title>Project Name</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  
      <!-- Custom CSS -->

   
  <!-- Add additional CSS in static file -->
  {% load static %}
  
  <link rel="stylesheet" href="{% static 'css/lib/bootstrap/bootstrap.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'css/lib/calendar2/semantic.ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/calendar2/pignose.calendar.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/lib/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/helper.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body class="fix-header fix-sidebar">



    
    <div id="main-wrapper">
    
        <div class="header">
          <nav class="navbar navbar-expand-lg top-navbar navbar-expand-md  navbar-light ">
                    <a class="navbar-brand" href="#">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{% url 'index' %}"  id="logox">
                                <!-- Logo icon -->
                                
                                <b><img src="{% static 'images/logo2.png' %}" alt="homepage" class="dark-logo" height="48" width="132" /></b>
                                <!--End Logo icon -->
                                <!-- Logo text 
                                <span><img src="{% static 'images/snp_lga.png' %}" alt="homepage" class="dark-logo" height="42" width="72"/></span>
                                    -->
                            </a>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                       
                        <li class="nav-item">
                          <a class="nav-link {% if user.is_anonymous %} disabled  {% endif %}" href="{% url 'employee' %}">Employee</a>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle {% if user.is_anonymous %} disabled  {% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sheets
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#">Disabled</a>
                        </li>
                      </ul>
                     
                    </div>
                  
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                      
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0"> <!-- Comment -->
                        
                        <!-- End Comment -->
                        
                        <!-- Profile -->
                        {% if user.is_authenticated %}
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 <span class="heartbit"></span>   <i class="ti-user"></i> {{ user.get_username }}
                                
                            </a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> Profile</a></li>
                                   
                                    <li><a href="#"><i class="ti-settings"></i> Setting</a></li>
                                    <li><a href="{% url 'logout'%}?next={{request.path}}"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="{% url 'login'%}?next={{request.path}}">
                                     <i class="fa fa-sign-in"></i> Login
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span></div>
                                </a>
                                
                            </li>
         
                      {% endif %} 
                    </ul>
                </div>
          </nav>
        </div>
        <div  id="rdb">
        <div class="page-wrapper" id="rdb">
           
            <!-- Container fluid  -->
           
                <!-- Start Page Content -->
              
                <div class="row">
                  <div class="col-lg-6"></div>
                    <div class="col-lg-6">
                        <div class="login-form card">
                            <form method="post" action="{% url 'login' %}">
                                {% csrf_token %}
                                
                                <div>
                                  
                                    <!-- username input field-->
                                    <div class="form-group">
                                        <label for="{{ form.username.id_for_label }}" >Username</label> 
                                        <input id="{{ form.username.id_for_label }}"  name="{{ form.username.html_name }}"  type="text"  class="form-control">
                                    
                                </div>
                                <!-- password input field-->
                                <div class="form-group">
                                    <label for="{{ form.password.id_for_label }}" >Password</label>
                                    <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" required type="password" class="form-control">
                                </div>
                                
                                <div>
                                  <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                                  <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                                </form>
                    </div>
                    </div>
                    <div class="card">
                      <h3 class="text-center">OR </h3>
                      <div class="text-cente">  <span>Hey ! Click sign Up to register  </span>
                       <a href="{% url 'register' %}" > <button type="button"  value="Sign Up"  class="btn btn-outline-primary">Sign Up</button></a>
</div>
                   
                    
                
                 </div>  
                      
                    
            
                </div> 
            </div>
            
      
        
