{% extends "base.html" %}


{% block dash_1 %}

<div class="row">

  <div class="col-8">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
              <h4>LMS Off</h4>
          </div>

          <div class="row">
            <div class="col-6">
            <div id="donutchart" style="width:410px; height:250px; "></div> 

            </div>
            <div class="col-6" style=" border-left: 1px solid rgba(119, 105, 105, 0.144);">
                <div class="table-responsive">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Status</th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Some details</td>
                              
                                <td class="color-primary">$21.56</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Some details</td>
                                <td><span class="badge badge-success">Tax</span></td>
                              
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Some details</td>
                                <td><span class="badge badge-danger">Extended</span></td>
                            
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>

  <button class="btn text-white rd-grd">some action</button>
          </div>
  </div>
  </div>
       
        
  <div class="col-4">
      <div class="card">
          <div class="card-title">
            <h4>Settings </h4>
          </div>
          <div class="recent-comment">
          
        

            <div class="media">
              <div class="media-left">
                  <div class="btn btn-danger btn-circle m-r-10"><i class="fa fa-link"></i></div>
              </div>
              <div class="media-body">
                    <span class="switch">
                            <input type="checkbox" class="switch" id="switch-id2">
                            <label for="switch-id">Small switch</label>
                          </span>
              </div>
            </div>
            <div class="media">
                    <div class="media-left">
                        <div class="btn btn-success btn-circle m-r-10"><i class="fa fa-link"></i></div>
                    </div>
                    <div class="media-body">
                          <span class="switch">
                                  <input type="checkbox" class="switch" id="switch-id1">
                                  <label for="switch-id">Small switch</label>
                                </span>
                    </div>
                  </div>
            <div class="media no-border">
              <div class="media-left">
                  <div class="btn btn-info btn-circle m-r-10"><i class="fa fa-link"></i></div>
              </div>
              <div class="media-body">
                    <span class="switch">
                            <input type="checkbox" class="switch" id="switch-id">
                            <label for="switch-id">Small switch</label>
                          </span>
              </div>
            </div>
          </div>
        </div>
</div>
</div>
<div class="row">

              
    <div class="col-12">
        <div class="card ">
            
              <div class="card-body">
                <div class="row">
                    <div class="col-2">

                    </div>
                    <div class="col-3">
                        <h2>Manage Employee :</h2>

                    </div>
                
                  <div class="col-5">
                      <form action="/employee/">                    
                        <div class="input-group">
                          
                           <div class="input-group input-group-rounded">
                                    <input type="text" placeholder="Enter Name" name="q" class="form-control">
                                    <span class="input-group-btn"><button class="btn rd-grd text-white btn-group-right" type="submit"><i class="ti-search"></i></button></span>
                                </div>
                        </div>                   
                </form>
                    </div>
                    <div class="col-1">
                      </div>
                </div>
              
                </div>
        </div>
    </div>

  </div>



{% endblock %}

{% block content %}

  
{% endblock %}