{% block formrd %}

{% endblock %}
{% block content %}
<div class="row justify-content-center" >
        <div class="col-lg-6 login-content card " id='rdb1'>
                <div class="login-form ">
                        <h4>Leave Application Form</h4>
                        <form action="." method="POST" style="margin:2%">{% csrf_token %}
                                <table class="">
                                        {{ form.as_table }}
                                </table>
                                <button type="submit"  value="Create"  class="btn btn-outline-primary">Apply</button>
                        </form>
                </div>
        </div>
</div>
{% endblock %}