{% extends "base_generic.html" %}

{% block content %}

      


{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>You have to login to view this page</p>
    {% endif %}
{% endif %}

<h3>Please login </h3>

      <div class="login-form card">
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    
    <div>
      
        <!-- username input field-->
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}" >Username</label> 
            <input id="{{ form.username.id_for_label }}"  name="{{ form.username.html_name }}"  type="text"  class="form-control">
        
    </div>
    <!-- password input field-->
    <div class="form-group">
        <label for="{{ form.password.id_for_label }}" >Password</label>
        <input id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}" required type="password" class="form-control">
    </div>
    
    <div>
      <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
      <input type="hidden" name="next" value="{{ next }}" />
    </div>
    </form>
    
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    
      </div>
  

{% endblock %}