{% extends "base_generic.html" %}

{% block content %}
<h2>Delete {{emp.first_name}}</h2>
</div>
<div class="row" style="margin:2%">
    <form action="." method="POST">
            {% csrf_token %}
            <div 
                    <div class="alert alert-dark">
                                 Are you Sure you want to delete <strong>{{emp.username}} ! </strong>  ?
                              </div><br>
                <div  class="">
                        <button type="submit" value="Delete" class="btn btn-danger">Yes</button> 
                        <a href="{% url 'employee' %}" >
                         <button type="button" value="canc" class="btn" >Cancel</button><br>
                        </a>
                    </div>
            </div>
            
        
                      <br>
        
    </form>

</div>
{% endblock %}