{% extends "base_generic.html" %}



{% block content %}

<div class="row justify-content-center" >
             
                <div class="col-lg-6 login-content card " id='rdb1'>
                        <div class="login-form ">
                                        <h4>Employee Registration Form</h4>
                                <form method="POST" action=".">{% csrf_token %}
                                        <div>
                                                <div class="form-group">
                                                        <div class="checkbox checkbox-success">
                                                                <label for="{{ form.is_staff.id_for_label }}" >Is Staff Employee ?</label>
                                                                <input id="{{ form.is_staff.id_for_label }}"  name="{{ form.is_staff.html_name }}"  type="checkbox" >
                                                         </div>
                                                 </div>
                                                <div class="form-group">
                                                        <label for="{{ form.first_name.id_for_label }}" >Enter First Name : </label>
                                                        <input id="{{ form.first_name.id_for_label }}"  name="{{ form.first_name.html_name }}"  type="text"  class="form-control input-rounded">
                                                </div>
                                                                       
                                                      <div class="form-group">
                                                          <label for="{{ form.last_name.id_for_label }}" >lEnter Last Name : </label>
                                                          <input id="{{ form.last_name.id_for_label }}" name="{{ form.password.html_name }}" required type="text" class="form-control input-rounded">
                                                      </div>
                                                <div class="form-group">
                                                        <label for="{{ form.email.id_for_label }}" >Enter e-mail id : </label>
                                                        <input id="{{ form.email.id_for_label }}"  name="{{ form.email.html_name }}"  type="text"  class="form-control input-rounded ">
                                                </div>
                                                <div class="form-group">
                                                        <label for="{{ form.password.id_for_label }}" >Enter New Password : </label>
                                                        <input id="{{ form.password.id_for_label }}"  name="{{ form.password.html_name }}"  type="password"  class="form-control input-rounded">
                                                </div>
        
        
                                                 <div class="form-group">
                                                                <div class="checkbox c">
                                                                   
                                                                    <label for="{{ form.is_active.id_for_label }}"> Is Employee is Active </label> 
                                                                    <input id="{{ form.is_active.id_for_label }}" type="checkbox" checked name="{{ form.is_active.html_name }}">
                                                                </div>
                                                </div>
                                                 
                                                <div class="form-group">
                                                        <label for="{{ form.date_joined.id_for_label }}" >Enter the Date of Join : </label>
                                                        <input id="{{ form.date_joined.id_for_label }}"  name="{{ form.date_joined.html_name }}"  type="text"  class="form-control input-rounded">
                                                </div>
          
                                        <div>
                                                        <button type="submit"  value="Create"  class="btn btn-outline-primary">Create New</button></a>
        
                                                        <input type="hidden" name="next" value="{{ next }}" />
                                                      </div>
                                                </form>
                                          </div>
                </div>

        </div>
{% endblock %}