{% extends "base_generic.html" %}

{% block content %}
<div class="container" style="margin:2%">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                <strong>Success!</strong> <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span></a>.
            </div>
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-sm-10">
                <h3>Search employee</h3>
                <form action="/employee/">
                   <input type="text" name="q" placeholder="Search Employee by Name Sr name or employee_no">
                   <button type="submit" class="btn btn-outline-primary">Search</button></a>
               </form>

        </div>
        <div class="col-sm-2">
                <a href="create/" ><button type="button" class="btn btn-outline-primary">Create New</button></a>

        </div>
    </div>
    <div style="margin-top:5%">
            
        {% if user_list %}
        <h3>List of Employee</h3>
        <table style="width:100%;" class="table table-bordered">
            <tr><th >No</th><th >Employee ID</th><th >User Name</th><th >Employee Full Name</th><th > email</th><th > Hire Date</th><th> Status</th><th> Salary</th><th> Action</th> </tr>
                
            {% for emp in user_list %}
            <tr>
                <td>{{ emp.id}}</td>
                <td>{{ emp.id}}</td>
                <td >{{ emp.username}}</td>
                <td > <a href='{{emp.id}}'>{{ emp.first_name}} {{ emp.last_name}}  </a></td>
                <td >{{ emp.email}}</td>
                <td >{{ emp.date_joined}}</td>
                <td >{{ emp.is_active}}</td>
               
                <td >NA</td>
                <td ><a href="{{emp.id}}/edit">Edit</a> or <a href="{{emp.id}}/delete/">Delete</a></td>
            </tr> 
            {% endfor  %}
        </table>
        {% else %}
        <p>There are no employee.</p>
        {% endif %}   
    </div>  
</div>  

{% endblock %}