{% extends "base.html" %}

{% block title %}
<title>Members</title>
{% endblock %}

{% block dash_1 %}

<div class="row ">
                <div class="col-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="row">
                                   
                                <div class="col-5">
                                     
                                
                                                <div class="media widget-ten">
                                                   
                                                    <div class="media-body media-middle ">
                                                                <a href="{% url 'employee' %}">
                                                                                <button type="button" class="btn btn-dark btn-outline-danger btn-rounded m-b-10 m-l-5"> <i class="far fa-arrow-alt-circle-left"></i>
                                                                                        Back to List </button></a>
                                                    </div>
                                                </div>
                                           
                                    
                                    
                                        </div>
                                <div class="col-6 ">
                                                <div class="card-outline-primary">
                                                                <div class="card-header">
                                                                        <h4 class="m-b-0 text-white">Update the Member</h4>
                                                                </div>
                                                </div>
                                            
                               
                                </div>
                                
                                <div class="col-1  "> 
                                                
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                </div>
</div>

<div class="row " style="Xbackground-image: linear-gradient(45deg,#FF394F,#FF8090); border-radius:5px" class="card2 ">
        <div class="col-5"></div>
        <div class="col-6">
                <div class="card ">
                        <div class="card-body">
                               
                                                <form action="." method="POST"> {% csrf_token %}
                                                                <div class="form-group">  
                                                                        {{ form }}  
                                                                 </div>
                                                                        <button type="submit"  value="Create"  class="btn btn-outline-primary">Update</button></a>
                                                                </form>  
                                
                               
                                        
                               
                        </div>
                </div>
        </div>
        <div class="col-1"></div>
        
</div>
{% endblock %}

