{% extends "base_generic.html" %}

{% block content %}


<div class="container" style="margin:2%">
    <div class="row">
       
                           
                  
   <div class="col-lg-12">  
       <div class="card bg-light">
  <h3>Details of : {{ object.first_name }} {{ object.last_name }}</h3>
  <table style="width:100%; margin-top:20px;" class="table table-bordered">
      <tr>
        <th>Member ID</th>
        <th>Member Name</th>
        <th> Gender</th>
        <th> Joined Date</th>
        <th> Mebership Fees</th>
      </tr>
      <tr>
        <td>{{ object.id}}</td>
        <td >{{ object.first_name}} {{ object.last_name}}  </td>
        <td>{{ object.gender}}</td>
        <td>{{ object.date_joined}}</td>
        <td> {% if salr.salary is null %} NA {% else %} {{ salr.salary}}  {% endif %} </td>
        
      </tr>
  </table></div> </div>
</div>
  <h3>Reading logs</h3>
  <table style="width:100%; margin-top:20px;" class="table table-bordered">
      <tr><th>##</th> <th>Date </th> <th>Hour </th><th> Details</th></tr>       
    
  {% if tags %}    
  {% for time_record in tags %} 

  <tr>

    <td>00.</td>
      <td >{{ time_record.ts_date|date:"SHORT_DATE_FORMAT" }}</td>
      <td>{{ time_record.ts_effort }}</td>
      <td>{{ time_record.ts_desc }}</td>
      <!-- <td ><a href="../{{time_record.id}}/edit">Edit</a> <a href="../{{time_record.id}}/delete/">Delete</a></td>                   -->
  </tr> 
  {% endfor  %}
  {% endif %}
</table>
 
  {% for ts in book.bookinstance_set.all %}
                              <hr>
                              <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
                              {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
                              <p><strong>Imprint:</strong> {{copy.imprint}}</p>
                              <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
                              {% endfor %}
</div>  
{% endblock %}