{% extends "base_generic.html" %}
{% block title %}
<title>Update EMS</title>
{% endblock %}
{% block pgt %}
<div class="row page-titles">
        <div class="col-md-5 align-self-center"><h3 class="text-primary">Update Members</h3> </div>
        <div class="col-md-7 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                <li class="breadcrumb-item active">EMS</li>
                <li class="breadcrumb-item active">Update</li>
            </ol>
        </div>
    </div>
    {% endblock %}
{% block formrd %}


<div class="col-3">
                <button class="btn btn-outline-dark " type="button"> <i class="far fa-arrow-alt-circle-left"></i>
                        Back to List </button>
        </div>
        <div class="col-6 ">
                <div class="card card-outline-primary">
                        <div class="card-header">
                                <h4 class="m-b-0 text-white">Update the Employee</h4>
                        </div>
                        <hr>
                        <div class="card-body">
                                <div class="basic-form">
                                <form action="." method="POST"> {% csrf_token %}
                                <div class="form-group">  
                                        {{ form }}  
                                 </div>
                                        <button type="submit"  value="Create"  class="btn btn-outline-primary">Update</button></a>
                                </form>
                        </div>
                        </div>
                </div>
        </div>
        

{% endblock %}

